@charset "UTF-8";


p{
    color: red;
}

.center{
    color: red;
    text-align: center;
}
.justify{
    text-align: justify;
}
.text-transform{
    text-transform: uppercase;
    text-indent: 35px;
}

a{
    text-decoration: none;
}
.letter-spacting{
    letter-spacing: 2px;
}

a:visited{
    color: red;
}

.bottom{
   
    text-decoration: none;
    color: green;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.bottom:hover{
    background-color: blueviolet;
    color: yellow;
}
.bottom:active{
    background-color: orange;
    color: blue;
}