@charset "UTF-8";

.conteiner{
    background-color: aquamarine;
    display: flex;
    flex-direction: row-reverse;
}

.item{
    background-color: burlywood;
    border: 1px solid black;

    text-align: center;

    padding: 10px;
}