@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;  
}
h1{
    font-size: 1em;
    text-decoration: underline;
    font-style: italic;
}
h2{
    font: italic bolder 3em "ariel", sans-serif;
}
h3{
    font: bold 3em "ariel";
}